{
  "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "import"
  ],
  "extends": [
    "eslint:recommended", // recommended by eslint
    "plugin:@typescript-eslint/eslint-recommended", // fixes typescript incompatible rules from eslint:recommended
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier/@typescript-eslint",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
  ],
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true, // Allows for the parsing of JSX
    },
  },
  "rules": {
    "semi": [2, "never"],
    "sort-imports": 0, // must be disabled for simple-import-sort to work
    "import-order": 0, // must be disabled for simple-import-sort to work
    "simple-import-sort/sort": [
      "error",
      {
        "groups": [
          ["^\\u0000", "^@?\\w", "^[^.]", "^\\."]
        ]
      }
    ],
    "@typescript-eslint/camelcase": 2,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-non-null-assertion": 2,
    "@typescript-eslint/no-unused-vars": 2,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-parameter-properties": 2,
    "@typescript-eslint/no-inferrable-types": 2,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/array-type": 2,
    "@typescript-eslint/consistent-type-assertions": 2,
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/ban-types": 2,
    "@typescript-eslint/no-var-requires": 2,
    "@typescript-eslint/no-namespace": 2,
    "@typescript-eslint/no-empty-interface": 2,
    "@typescript-eslint/no-unused-expressions": 2,
    "@typescript-eslint/triple-slash-reference": 2,
    "@typescript-eslint/class-name-casing": 2,
    "@typescript-eslint/prefer-namespace-keyword": 2,
    "@typescript-eslint/no-empty-function": 0,
    "react/no-unescaped-entities": 2,
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/jsx-no-target-blank": 2,
    "react/jsx-no-undef": 2,
    "prettier/prettier": 2
  },
  "settings": {
    "react": {
      "version": "detect", // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  }
}
